@import "../../../styles/styles.less";

.right {
  text-align: right;
  padding-right: 20px;
}

.header-row {
  display: flex;
  .button {
    margin-left: 10px;
  }
}

.camera-block {
  background: #dddddd;
  border: 3px solid #aaaaaa;
  margin-right: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;

  .info {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: table;
  }
}

.camera-content {
  display: flex;
}

.camera-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;

  button {
    margin-bottom: 10px;
  }
}

.button-info {
  display: flex;
  align-items: baseline;
  color: @green-color;
  flex-wrap: wrap;

  .message {
    margin-left: 20px;
  }
}

.note {
  background-color: rgba(0,0,0,.04);
  padding: 20px;
  margin-bottom: 20px;
}

mat-radio-button {
  padding-right: 20px;
}

.camera-depth-content {
  padding-top: 30px;
}
