<launch>

    <arg name="model" default="best" />

    <!-- specify the planning pipeline -->
    <arg name="pipeline" default="ompl" />

    <!-- By default, we will load or override the robot_description -->
    <arg name="load_robot_description" default="true"/>

    <arg name="use_gui" default="false" />

    <!-- If needed, broadcast static tf for robot root -->

    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->

    <!-- Конфиги Moveit для НПОА -->
    <include file="$(find moveit_config_armbot_best)/launch/move_group.launch" if="$(eval model=='best')">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="execution_type" value="interpolate"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="$(arg pipeline)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <!-- Конфиги Moveit для BEST -->
    <include file="$(find moveit_config_armbot_npoa)/launch/move_group.launch" if="$(eval model=='npoa')">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="execution_type" value="interpolate"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="$(arg pipeline)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>
</launch>
