<launch>
  <node name="move" pkg="armbot_move" type="move" respawn="false" output="screen">
    <rosparam command="load" file="$(find armbot_moveit_config)/config/kinematics.yaml"/>
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find armbot_moveit_config)/config/ompl_planning.yaml"/>
  </node>
  <include file="$(find armbot_moveit_config)/launch/demo.launch">
    <arg name="use_gui" value="true"/>
  </include>
  <node name="joint_subscriber" pkg="armbot_move" type="joint_subscriber" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>