<!-- Запуск движений робота НПОА: roslaunch armbot_move move.rviz.launch -->
<!-- Запуск движений робота (модель по-умолчанию): roslaunch armbot_move move.rviz.launch model:=default -->

<launch>

  <arg name="model" default="best" />

  <!-- Модель НПОА -->
  <node name="move" pkg="armbot_move" type="move" respawn="false" output="screen" if="$(eval model=='npoa')">
    <rosparam command="load" file="$(find moveit_config_armbot_npoa)/config/kinematics.yaml"/>
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find moveit_config_armbot_npoa)/config/ompl_planning.yaml"/>
  </node>

  <!-- Модель BEST -->
  <node name="move" pkg="armbot_move" type="move" respawn="false" output="screen" if="$(eval model=='best')">
    <rosparam command="load" file="$(find moveit_config_armbot_best)/config/kinematics.yaml"/>
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find moveit_config_armbot_best)/config/ompl_planning.yaml"/>
  </node>

  <!-- Старт конфигов moveit -->
  <include file="$(find armbot_move)/launch/armbot.launch">
    <arg name="use_gui" value="false"/>
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- Подключение  joint_subscriber -->
  <node name="joint_subscriber" pkg="armbot_move" type="joint_subscriber"/>

  <!-- Подключение Webserver rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

</launch>