<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Run with gui: roslaunch armbot_move run.launch gui:=true -->
	<!-- Run without gui: roslaunch armbot_move run.launch -->
	<!-- Запустить с управлением двигателями с клавиатуры: roslaunch armbot_move run.launch keyboardControl:=true -->

	<!-- Armbot model -->
	<arg name="gui" default="false" /> <!-- Включение/отключение визуализации -->
	<arg name="keyboardControl" default="false" /> <!-- Включение/отключение управления двигателями с клавиатуры -->
	<param name="use_gui" value="$(arg gui)" />
	<param name="robot_description" textfile="$(find armbot_description)/urdf/model_npoa/armbot.urdf" />
	<param name="file" type="str" value="$(find armbot_description)/urdf/model_npoa/armbot.urdf" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find armbot_description)/config/armbot.rviz" if="$(arg gui)"/>

	<!-- Run Move-->
	<node name="move" pkg="armbot_move" type="move" respawn="false" output="screen">
		<rosparam command="load" file="$(find armbot_npoa_moveit_config)/config/kinematics.yaml"/>
		<param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
		<rosparam command="load" file="$(find armbot_npoa_moveit_config)/config/ompl_planning.yaml"/>
	</node>

	<!-- Add robot config-->
	<include file="$(find armbot_npoa_moveit_config)/launch/demo.launch">
		<arg name="use_gui" value="$(arg gui)"/>
	</include>

	<!-- Add joint_subscriber-->
	<node name="joint_subscriber" pkg="armbot_move" type="joint_subscriber" />

	<!-- Add websocket-->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<!-- Run Arduino -->
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" respawn="true">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
	</node>

	<!-- Управление двигателями с клавиатуры -->
	<node name="moveMotor" pkg="armbot_move" type="moveMotor" if="$(arg keyboardControl)"/>
</launch>
