@import "../../styles/styles.less";

.tabs {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  section {
    margin-bottom: 0;
  }

  a {
    color: rgba(0,0,0,.87);
    border-bottom: 1px solid #200772;
  }

  a.active {
    background: @grid-color-default;
    color: @black-color;
  }
}


::ng-deep .mat-tab-links {
  justify-content: space-between;
}

section.buttons {
  margin-top: 0;
}
