<?xml version="1.0" encoding="utf-8" ?>

<robot name="keyboard" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name='base'>
    <inertial>
        <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708" />
        <mass value="0.56" />
        <inertia 
          ixx="0.00000024458" 
          ixy="0.00000000002" 
          ixz="0.00000000225" 
          iyy="0.00000221535" 
          iyz="0.00000000113" 
          izz="0.00000196415" />
    </inertial>
    <visual>
      <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708"/>
      <geometry>
          <mesh filename="package://keyboard_description/meshes/keyboard.stl" />
      </geometry>
    </visual>
    <collision>
        <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708" />
        <geometry>
            <mesh filename="package://keyboard_description/meshes/keyboard.stl" />
        </geometry>
    </collision>
  </link>
  <gazebo reference="base">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
</robot>