<?xml version="1.0" encoding="utf-8" ?>

<robot name="keyboard" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name='base'>
    <inertial>
        <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708" />
        <mass value="0.0557728067893351" />
        <inertia ixx="3.92728176216146E-06" ixy="-2.61102891000333E-12" ixz="3.15138580124161E-07" iyy="5.88583553323269E-06" iyz="9.57169867073918E-11" izz="3.24790074280288E-06" />
    </inertial>
    <visual>
      <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708"/>
      <geometry>
          <mesh filename="package://keyboard_description/meshes/keyboard.stl" />
      </geometry>
    </visual>
    <collision>
        <origin xyz="0.539039 0 0" rpy="1.5708 3.14 1.5708" />
        <geometry>
            <mesh filename="package://keyboard_description/meshes/keyboard.stl" />
        </geometry>
    </collision>
  </link>
  <gazebo reference="base">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
</robot>
