<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find armbot_description)/config/armbot.gazebo.yaml" />

  <param name="robot_description" textfile="$(find armbot_description)/urdf/model_best/armbot.gazebo.urdf" />

  <param name="keyboard_description" textfile="$(find keyboard_description)/urdf/keyboard.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="40.0" />
    <remap from="/joint_states" to="/armbot/joint_states" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="/source_list">["/joint_states"]</rosparam>
  </node>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find armbot_description)/worlds/scene.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <node name="armbot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model armbot -param robot_description"/>

  <node name="keyboard" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model keyboard -param keyboard_description"/>

</launch>
