<!--<launch>-->
<!--    <arg name="dobot" />-->
<!--    <arg name="gui" default="false" />-->

<!--    <param name="use_gui" value="$(arg gui)" />-->

<!--    <param name="robot_description" textfile="$(find armbot_description)/urdf/model_best/armbot.urdf" />-->
<!--    <param name="file" type="str" value="$(find armbot_description)/urdf/model_best/armbot.urdf" />-->

<!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find armbot_description)/config/armbot.rviz"/>-->

<!--&lt;!&ndash;    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >&ndash;&gt;-->
<!--&lt;!&ndash;        <rosparam param="source_list">["joint_states"]</rosparam>&ndash;&gt;-->
<!--&lt;!&ndash;    </node>&ndash;&gt;-->

<!--    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->

<!--    <arg name="use_gui" default="true" doc="Should the joint_state_publisher use a GUI for controlling joint states" />-->
<!--    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />-->
<!--    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" />-->
<!--</launch>-->


        <!-- Запуск робота без клавиатуры по команде:  roslaunch armbot_description armbot_npoa.rviz.launch -->
        <!-- Запуск робота с клавиатурой по команде:  roslaunch armbot_description armbot_npoa.rviz.launch keyboard:=true -->

<launch>
<arg name="keyboard" default="false" />

<param name="robot_description" textfile="$(find armbot_description)/urdf/model_best/armbot.urdf" />
<param name="file" type="str" value="$(find armbot_description)/urdf/model_best/armbot.urdf" />

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find armbot_description)/config/armbot.rviz"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["joint_states"]</rosparam>
</node>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<include file="$(find keyboard_description)/launch/keyboard.launch" if="$(arg keyboard)" />
<!--<node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />-->
</launch>

