@container-width: 1200px;

@base-color: #200772;
@contrast-color: red;
@white-color: #ffffff;
@black-color: #000000;
@red-color: red;
@gray-color: gray;
@yellow-color: yellow;
@blue-color: blue;
@green-color: green;

@code-color: rgba(175, 184, 193, 0.2);
@drag-drop-border: #aaaaaa;
@drag-drop-back: #eeeeee;
@grid-color-default: #cecece;
@border-gray: #cccccc;


.container-base {
  max-width: @container-width;
  margin: 0 auto;
}

.code {
  background-color: @code-color;
  border-radius: 2px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
  position: relative;
  justify-content: center;
  display: inline-flex;

  i{
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    background: @contrast-color;
    color: white;
    padding: 1px 5px;
    border-radius: 2px;
  }
}

.buttons {
  margin-top: 15px;
  button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    input {
      width: 100%;
      height: 100%;
    }
  }
}

.error {
  color: @contrast-color;
  margin-bottom: 10px;
}

.message {
  color: @green-color;
  margin-bottom: 10px;
}
